*

!/.gitattributes
!/.gitignore
!/README.md
!/INSTALL.md
!/DISCLOSURE.md
!/NOTICE.md
!/LICENSE
!/CONTRIBUTING.md
!/SECURITY.md
!/requirements-dev.txt
!/plugin.json
!/.claude-plugin/
!/.claude-plugin/**
!/.codex-plugin/
!/.codex-plugin/**
!/commands/
!/commands/**
!/skills/
!/skills/**
!/tools/
!/tools/**
!/tests/
!/tests/**
!/docs/
!/docs/**
/docs/superpowers/
!/examples/
!/examples/**
!/dist/
!/dist/**

/.worktrees/
/.superpowers/sdd/
